body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #d26666, #b32f42); /* Gradient from reddish to pinkish */
}

.about-popup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh; /* Full viewport height to center vertically */
}

.popup-container {
  background-color: #ffeef8; /* Light pink background for the content */
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%; /* Adjust width to 90% of the viewport */
  max-width: 1000px; /* Set a maximum width */
  margin-top: -12%;
  overflow-y: auto; /* In case the content is taller than the viewport */
}

.content {
  text-align: left; /* Aligning text to the left */
  margin-top: 10px; /* Reduced space between navbar and content */
}

h1 {
  color: #fff; /* White color for the heading */
  font-weight: bold; /* Making the heading bold */
  text-align: center; /* Centering the main heading */
  margin-top: 10px; /* Reduced margin to lessen space above */
}

h2 {
  color: #080807; /* Dark teal for subheading */
  font-weight: bold; /* Making the subheading bold */
  margin-top: 30px; /* Spacing above subheading */
}

p {
  color: #333;
  line-height: 1.6; /* Better readability */
  margin: 15px 0; /* Spacing between paragraphs */
}

ul {
  list-style-type: disc; /* Using bullet points */
  padding-left: 20px; /* Indentation for the list */
  margin: 15px 0; /* Spacing above and below the list */
}

li {
  margin: 10px 0; /* Adding space between list items */
}

.close-button {
  background: #f44336;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.close-button:hover {
  background-color: #520b0b; /* Darker red on hover */
}

h4 {
  color: #080807; /* Dark teal for subheading */
  font-weight: bold; /* Making the subheading bold */
  margin-top: 40px; /* Spacing above subheading */
}
