/* Center the dashboard container */
.activity-dashboard {
    font-family: Arial, sans-serif;
    padding: 20px;
    width: 98%; /* Adjust width as needed */
    max-width: 250%;
    height: 100vh;
    /*background-color: rgb(196, 64, 64); /* White background for content */
    color: rgb(23, 23, 23);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  h3 {
    text-align: center;
    color: white;  /* Set the color to white */
    font-size: 36px;  /* Increase the font size */
    margin-bottom: 20px;  /* Optional: add spacing below the heading */
  }
  
  
  .filters {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .filters button {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .filters button:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }
  
  .activity-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .activity-table th, .activity-table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
    color: #333;
  }
  
  .activity-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .activity-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .status.success {
    color: green;
  }
  
  .status.incomplete {
    color: gray;
  }
  
  .status.failed {
    color: red;
  }
  
  .view-results-button {
    padding: 8px 12px;
    background-color: #aa3939;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .view-results-button:hover {
    background-color: #ff3333;
  }
  