/* Overall App container */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #4e0505, #cf2828); /* Dark pink to red gradient */
  position: relative;
  overflow: hidden;
}

/* Box containing the logo, text, and buttons */
.box-container {
  background-color: white;
  border-radius: 25px;
  padding: 60px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  z-index: 10;
  position: relative;
  /* Fix height to prevent resizing */
  height: 300px;  /* Adjust this value based on your design */
  width: 300px;  /* Adjust as needed */

  /* Prevent any movement */
  transform: none !important;
  opacity: 1 !important;
  transition: none !important;
  animation: none !important;
}

/* Logo styling */
.logo {
  width: 100px;
  margin-bottom: 20px;
}

/* Site name styling */
.site-name {
  font-size: 2.5rem;
  font-weight: bold;
  color: #1b1919;
}

/* Subtext styling */
.subtext {
  font-size: 1.2rem;
  margin: 10px 0;
  font-style: italic;
  color: #4d3232;
}

.highlight {
  color: #9e0b0b;
}

/* Continue button with animation */
.cta-button {
  background-color: #e60e0e;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  opacity: 0;
  animation: contentPopUp 1s ease-in-out forwards;
  animation-delay: 0.5s;
  text-decoration: none;
}

.cta-button:hover {
  background-color: #c91010ce;
}

@keyframes contentPopUp {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Popup styling */
.login-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%; /* Adjusts for mobile */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.close-popup:hover {
  color: red;
}